.faq {
    height: 100%;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .faq p {
     margin-bottom: 10px;
  }

  .faq ol {
     margin-left:50px;
  }
